<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam Planer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <script
      src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js"
      type="module"
    ></script>
  </head>
  <body>
    <div class="loginbg">
      <div class="animation">
        <dotlottie-wc
          src="{{ url_for('static', filename='uploads/Time.json') }}"
          speed="1"
          mode="forward"
          loop
          autoplay
        ></dotlottie-wc>
      </div>
      <div class="login-container">
        <div class="login-card">
          <div class="login-header">
            <h2>Welcome Back</h2>
            <p>Create an Account</p>
          </div>

          <form
            class="login-form"
            action="{{url_for('register')}}"
            method="POST"
          >
            <div class="form-group">
              <div class="input-wrapper">
                <input
                  name="name"
                  type="text"
                  placeholder="Full Name"
                  required
                />
                <input
                  type="email"
                  name="email"
                  required
                  autocomplete="email"
                  placeholder="Email"
                />
                <input
                  name="password"
                  type="password"
                  placeholder="Password"
                  required
                />
              </div>
            </div>

            <button type="submit" class="login-btn btn">
              <span class="btn-text">Register</span>
            </button>
          </form>
          <p class="">
            Already have an account?
            <a href="{{ url_for('login_page') }}" class="">Login</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
